@font-face {
    font-family: 'Akkurat';
    src:
        url('../../assets/fonts/Akkurat-Font/Akkurat.woff2') format('woff2'),
        url('../../assets/fonts/Akkurat-Font/Akkurat.woff') format('woff');
    font-display: swap;
}
